//    using example
//
//    div {
//        @include media-desktop {
//            font-size: 20px;
//        }
//    }





@mixin media-mobile {
    @media (max-width: #{$mobile-width}){
        @content;
    }
}


@mixin media-mobile-portrait {
    @media (max-width: #{$mobile-width-portrait}) {
        @content;
    }
}


@mixin media-tablet{
    @media (max-width: #{$tablet-width}) {
        @content;
    }
}


@mixin media-tablet-portrait{
    @media (max-width: #{$tablet-width-portrait}) {
        @content;
    }
}


@mixin media-tablet {
    @media (max-width: #{$tablet-width}) {
        @content;
    }
}

@mixin media-desktop-thin {
    @media (max-width: #{$desktop-width}) {
        @content;
    }
}


@mixin media-desktop {
    @media (max-width: #{$desktop-medium-width}) {
        @content;
    }
}


@mixin media-desktop-large {
    @media (max-width: #{$desktop-medium-laptop}) {
        @content;
    }
}