//= ../lib/media-mixin.scss
//= ../lib/normalize.scss


body {
    color: red;
    font-size: 13px;

    @include media-mobile {
        font-size: 5px;
    }
}


p {
    font-size: 20px;

    @include media-mobile {
        font-size: 15px;
    }
}