//Media Queries

$desktop-width-laptop: 1366px;
$desktop-width:         1170px;
$desktop-thin-width:    1024px;
$tablet-width-portrait: 979px;
$tablet-width:          768px;
$mobile-width-portrait: 480px;
$mobile-width:          350px;
